{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="box-element">
        <div class="col-lg-20">
            <img src="images/placeholder.png" class="thumbnail">
        </div>

        <div class="box-element product">
        </div>
    </div>
    {% if item %}
    <div class="col-lg-8">
        <h1>{{ item.title }}</h1>
        <h3>Product Category </h3>
        <h3>{{ item.price }}</h3>
    </div>
    {% endif %}

</div>
{% endblock content %}